<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="V8" value="https://proget.mywebgrocer.com/nuget/V8-Nuget/" />
        <add key="V8-Proxy" value="https://proget.mywebgrocer.com/nuget/V8-NugetProxy/" />
        <add key="GitHub" value="https://nuget.pkg.github.com/jimfim/index.json" />
    </packageSources>
    <disabledPackageSources>
        <add key="V8" value="true" />
        <add key="V8-Proxy" value="true" />
    </disabledPackageSources>
</configuration>